 <div class="col-md-4">
  <div class="thumbnail">
  	<%= link_to product_path(product) do %>
    <%= image_tag product.image.url(:original), class: "img-responsive" %>
    <% end %>
   
    <div class="caption">
     <h3><%= link_to product.name, product_path(product) %></h3>
     <p>€<%= product.price %></p> 
    </div>
  </div>
 </div> 